* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;  
}

.header {
    background-image: url(https://www.portofhalifax.ca/wp-content/uploads/2016/11/Port-Authority-Header-Background.jpg);
    background-size: cover;
    text-align: center;
    margin-bottom: 10px;
    padding: 50px 0;
    font-size: 40px;
    box-shadow: 0px 0px 10px black;
}

.conteiner {
    display: flex;
}

.navbar {
    width: 30%;
    padding: 30px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    margin-bottom: 5px;
    background-color: rgb(71, 71, 216);
    text-align: center;
    padding: 10px;
    border-radius: 10px 0;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.content {
    width: 130%;
    background-color: #d8d8d8;
    padding: 30px;
    border-radius: 30px 0;
    margin: 10px;
}

.footer {
    background-color: grey;
    text-align: center;
    padding: 20px;
}